@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font1);
}

header {
    background-color: #000;

    color: #fff;
    text-align: center;
}

header h1 {
    padding: 50px 0 5px 0;

    font-family: var(--font2);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;

    font-size: 1.1em;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section p {
    margin: 60px 0 60px 50px;

    font-family: var(--font3);
    font-size: 2em;
}

#imagem1 {
    background-image: url('../img/background001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;

    padding: 25px;
}

#imagem1 p {
    background-color: rgb(0, 0, 0, 0.5);
    width: 350px;

    margin: 25px;

    color: #fff;
}

#imagem2 {
    background-image: url('../img/background002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;

    padding: 25px;
}

#imagem2 p {
    background-color: rgb(0, 0, 0, 0.5);
    width: 350px;

    margin: 25px;

    color: #fff;
}